trunk/TechTrial/TechTrialClient/Service References/AttendanceService/AttendanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TechTrialBackEnd" elementFormDefault="qualified" targetNamespace="http://TechTrialBackEnd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://srvhost:8080/TechTrialBackEnd/AttendanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechTrialBackEnd.Model" />
  <xs:element name="CheckAuth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TechTrialBackEnd.Model" minOccurs="0" name="GetTaskListResult" nillable="true" type="q1:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TechTrialBackEnd.Model" minOccurs="0" name="StartTrackingResult" nillable="true" type="q2:TimeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TechTrialBackEnd.Model" minOccurs="0" name="rec" nillable="true" type="q3:TimeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTrackingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>